.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 6 columnas de igual tamaño */
    gap: 10px;
    /* Espacio entre las cartas */
    max-width: 900px;
    /* Limitar el ancho del tablero */
    margin: 50px auto;
    /* Centrar el tablero */
}

