.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 6 columnas de igual tamaño */
    gap: 10px;
    /* Espacio entre las cartas */
    max-width: 900px;
    /* Limitar el ancho del tablero */
    margin: 50px auto;
    /* Centrar el tablero */
}

.card {
    width: 100%;
    /* Asegurar que las cartas se ajusten al tamaño de la columna */
    /* Proporción para hacer las cartas rectangulares */
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
    position: relative;
    width: 8px;
    height: 40px;
    box-shadow: inset 0 0 0 0 transparent; /* Inicialmente sin borde */
    transition: box-shadow 0.3s ease; /* Transición para suavizar el borde */
}

.card.flipped {
    background-color: #555;
}

.card:not(.flipped) {
    background-color: #111;
}

/* Resaltar en verde si coinciden */
.card.matched {
    box-shadow: inset 0 0 0 4px green;
    /* Sombra interior verde */
}

/* Resaltar en rojo si no coinciden */
.card.error {
    box-shadow: inset 0 0 0 4px red;
    /* Sombra interior roja */
}

.card>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}