.boss-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222; /* Fondo oscuro para el tema de terror */
    padding: 20px;
    border: 2px solid #444; /* Bordes para un toque oscuro */
    border-radius: 10px;
    width: 400px; /* Ajusta según necesites */
    color: #fff;
    font-family: 'Creepster', cursive; /* Fuente con temática de terror */
  }
  
  .boss-image {
    margin-bottom: 20px;
  }
  
  .boss-img {
    width: 150px; /* Ajusta el tamaño de la imagen del jefe */
    height: auto;
    border-radius: 10px;
    border: 3px solid #555;
  }
  
  .boss-dialogue {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666;
    font-size: 1.2em;
    text-align: center;
  }
  
  .boss-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  .boss-controls button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boss-controls button:hover {
    background-color: #666;
  }
  
  .boss-controls button:disabled {
    background-color: #222;
    cursor: not-allowed;
  }
  