#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  justify-content: space-between; /* Espacio entre Boss y DiceGame */
  align-items: flex-start; /* Alinearlos arriba */
}



.dicegame-container {
  width: 100%; /* Ajusta el ancho como necesites */
  text-align: center; /* Centrar el contenido */
}




.boss-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222; /* Fondo oscuro para el tema de terror */
  padding: 20px;
  border: 2px solid #444; /* Bordes para un toque oscuro */
  border-radius: 10px;
  width: 90vw; /* Ajusta el ancho del contenedor al 90% de la pantalla */
  height: 80vh; /* Ajusta el alto del contenedor al 90% de la pantalla */
  color: #fff;
  font-family: 'Creepster', cursive; /* Fuente con temática de terror */
}

.boss-image {
  margin-bottom: 20px;
}

.boss-img {
  width: 150px; /* Ajusta el tamaño de la imagen del jefe */
  height: auto;
  border-radius: 10px;
  border: 3px solid #555;
}

.boss-dialogue {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #666;
  font-size: 1.2em;
  text-align: center;
  width: 90%;

}

.boss-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.boss-controls button {
  background-color: #444;
  border: none;
  color: white;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.boss-controls button:hover {
  background-color: #666;
}

.boss-controls button:disabled {
  background-color: #222;
  cursor: not-allowed;
}

